@import "../abstracts/variables";
@import "../abstracts/mixins";

footer {
  @include flex-center;
  flex-direction: column;
  padding: $footer-padding;
  background-color: #000000;

  .footer__legal {
    color: $white-color;
    @include font-size($font-size-footer);
    margin-top: 10px;
  }
}
