$background-color: #F6F6F6;
$padding: 30px 20px;
$gap: 30px;
$border-radius: 20px;
$white-color: #fff;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$font-size: 1.2rem;
$text-color: white;
$linear-gradient: linear-gradient(180deg,rgba(255,255,255, 0) 0%, rgba(84,83,83, 0.5) 50%, rgba(10, 10, 10, 0.7) 100%);
$red-color: #FF6060;
$header-height: 100px;
$footer-padding: 60px;
$font-size-small: 1rem;
$font-size-large: 2.5rem;
$font-size-medium: 2rem;
$font-size-heading: 24px;
$font-size-footer: 14px;
$loader-size: 120px;
