@import "variables";
@import "mixins";

.collapse-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include responsive-width;
}

.article__colapse {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: $text-color;
  background: #ff6060;
  padding: 5px;
  border-radius: 5px;

  h2 {
    margin: 0;
    font-size: 24px;
  }

  .fa-chevron-down {
    margin: auto 10px auto auto;
  }
}
