@import 'variables';
@import 'mixins';

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  width: 100%;

  p {
    background: $red-color;
    color: $text-color;
    padding: 5px 10px;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    font-weight: 700;
  }
}

.block-info {
  display: flex;
  margin: 20px 0;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

h1 {
  color: $red-color;
  margin: 0;
  font-weight: 500;
}

.category-heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: $text-color;
  background: $red-color;
  padding: 5px;
  border-radius: 5px;

  h2 {
    margin: 0;
  }
}

.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 auto 0;

  p {
    width: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    color: $red-color;
  }

  .host-picture {
    border-radius: 50%;
    margin-left: 10px;
    height: 70px;
  }
}

.localisation {
  font-weight: 500;
  margin: 5px 0 15px 0;
}

.host-and-rating {
  display: flex;
  margin: 10px 0;

  @media screen and (min-width: 769px) {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 50%;
    margin: auto 0 auto auto;
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    align-items: center;
  }
}

.rating {
  display: flex;
  margin: 0;
  margin-top: 10px;

  .star {
    color: lightgray; 
  }

  .star.filled {
    color: $red-color; 
  }
}


