.tags{
    display: flex;
    gap: 10px;

    span{
        background: #FF6060;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
    }
}

h1{
    color: #FF6060;
    margin: 0;
}
.category-heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: white;
    background: #ff6060;
    padding: 5px;
    border-radius: 5px;
  }
  
  .category-heading h2 {
    margin: 0;
  }
  
  .category-heading .fa-chevron-down {
    margin: auto 10px auto auto;
  }
  
  .host {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .localisation{
    font-weight: 700;
    margin: 5px 0 15px 0;
  }

  .host-picture {
    border-radius: 50%;
    margin-left: 10px;
    height: 70px;
  }
  
  .host p {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    color: #ff6060;
  }
  
  .host-and-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .rating {
    margin: 0;
  }