.cliff{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-alpha-sig.figma.com/img/4706/e7dd/e270fc8fc902a1eb738458e7b29c1899?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aH2bY6cNrrbLsCGnEZS1lVTKeS9fP3eUDnKLvYhYjAOd9UmG3jf7d688kCI5Q741zNYlawlESmjGerHeNf5-TAcbFVluJZ8TAWQRnz3W72TyZ9pR51LWxS9deL~rHHF0sNXuJNpvph1mpRwvpbKH1w2QDw5VrsPT-ZNRIr9CVirzDNBjhXUjVe88PuhLpI8M-6f2vgVWYKLid-qHwRi12re2aClKvDnNHo6d7A-B9VGOAqOugjz1~wAPS1WNHLdZ5SyTwNYSGv-JoWLTG~5p7okKg2x0ZgU2bAjcqhH0L4zW3WINlwe16I1Qq4ZD3ZIdhE4ZY8tjvCUBOgk3wtzrKw__);
    width: 80%; 
    height: 120px;
    padding: 10px;
    background-size: cover; 
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 20px auto 20px auto;

    .cliff__text{
        width: 90%;
        font-size: 25px;
        font-weight: 700;
        color: white; 
        text-align: left;
        text-align: center;
    }
}