@import 'variables';
@import 'mixins';

.collapsible-section {
  margin: 0 0 20px 0;

  .section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    background: $red-color;
    padding: 10px;
    border-radius: 5px;

    h2 {
      margin: 0;
      font-size: 1rem;
    }

    i {
      font-size: 1.5rem;
      transition: transform 0.3s ease;
      margin-right: 15px;
    }
  }

  .content {
    max-height: 0;
    overflow: hidden;
    padding: 0 25px;
    font-size: 1rem;
    background: #F6F6F673;
    transition: max-height 0.3s ease, padding 0.3s ease;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  &.open {
    .content {
      max-height: 1000px;
      padding: 25px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    .section-heading i {
      transform: rotate(180deg);
    }
  }
}

.appartement-detail__info {
  display: flex;
  flex-direction: row;
  gap: 15px;

  .collapsible-section {
    width: 50%;
  }

  @media screen and (max-width: 735px) {
    flex-direction: column;
    gap: 0;
    justify-content: left;
    .collapsible-section {
      width: 100%;
      padding-left: 0;
    }
  }
}
