@import "variables";
@import "mixins";

.collapsible-section {
  margin: 0 0 20px;

  .section-heading {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: $text-color;
    background: $red-color;
    padding: 10px;
    @include border-radius(5px);

    h2 {
      margin: 0;
      @include font-size($font-size-small);
    }

    i {
      @include font-size(1.5rem);
      @include transition(transform);
      margin-right: 15px;
    }
  }

  .content {
    max-height: 0;
    overflow: hidden;
    padding: 0 25px;
    font-size: 1rem;
    background: #f6f6f673;
    transition: max-height 0.3s ease, padding 0.3s ease;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  &.open {
    .content {
      max-height: 1000px;
      padding: 25px;
    }

    .section-heading i {
      transform: rotate(180deg);
    }
  }
}

.appartement-detail__info {
  display: flex;
  flex-direction: row;
  gap: 15px;

  .collapsible-section {
    width: 50%;
  }

  @media screen and (max-width: 735px) {
    flex-direction: column;
    gap: 0;
    .collapsible-section {
      width: 100%;
      padding-left: 0;
    }
  }
}
