.collapsible-section {
  margin-bottom: 20px;
  padding-bottom: 10px;

  .section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    align-items: baseline;
    color: white;
    background: #FF6060;
    padding: 5px;
    border-radius: 5px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    i {
      font-size: 1.5rem;
      transition: transform 0.3s ease;
    }
  }

  .content {
    display: none;
    padding: 15px 5px;
    font-size: 1rem;
    line-height: 1.6;
    background: #F6F6F673;
  }

  &.open .content {
    display: block;
  }

  &.open .section-heading i {
    transform: rotate(180deg);
  }
}
