footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 250px;


padding: 66px 120px 58px 120px;




        
        img{
            margin: 10px auto;
        }
    }

    .footer__legal{
        text-align: center;
 
    }


