@import 'variables';
@import 'mixins';

footer {
  @include flex-center;
  flex-direction: column;
  padding: $footer-padding;
  background-color: #333;

  .footer__legal {
    color: $white-color;
    @include font-size($font-size-footer);
    margin-top: 10px;
  }
}
